## Sales Analysis

#### import necessary libraries

In [1]:
import pandas as pd

#### Merge 12 months data

In [5]:
jan = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_January_2019.csv')
feb = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_February_2019.csv')
mar = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_March_2019.csv')
apr = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_April_2019.csv')
may = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_May_2019.csv')
jun = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_June_2019.csv')
jul = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_July_2019.csv')
aug = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_August_2019.csv')
sep = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_September_2019.csv')
octb = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_October_2019.csv')
nov = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_November_2019.csv')
dec = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/Sales_December_2019.csv')

In [6]:
dec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25117 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Order ID          25037 non-null  object
 1   Product           25037 non-null  object
 2   Quantity Ordered  25037 non-null  object
 3   Price Each        25037 non-null  object
 4   Order Date        25037 non-null  object
 5   Purchase Address  25037 non-null  object
dtypes: object(6)
memory usage: 1.1+ MB

In [10]:
df = [jan, feb, mar, apr, may, jun, jul, aug, sep, octb, nov, dec]
dataframe = pd.concat(df)
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 186850 entries, 0 to 25116
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 10.0+ MB

In [11]:
dataframe.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,141234,iPhone,1,700,01/22/19 21:25,"944 Walnut St, Boston, MA 02215"
1,141235,Lightning Charging Cable,1,14.95,01/28/19 14:15,"185 Maple St, Portland, OR 97035"
2,141236,Wired Headphones,2,11.99,01/17/19 13:33,"538 Adams St, San Francisco, CA 94016"
3,141237,27in FHD Monitor,1,149.99,01/05/19 20:33,"738 10th St, Los Angeles, CA 90001"
4,141238,Wired Headphones,1,11.99,01/25/19 11:59,"387 10th St, Austin, TX 73301"

#### Another method

In [12]:
import os

In [18]:
files = [file for file in os.listdir('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data')]

all_months_data = pd.DataFrame()

for file in files:
    df = pd.read_csv('E:/Python/Github/Pandas-Data-Science-Tasks/SalesAnalysis/Sales_Data/'+file)
    all_months_data = pd.concat([all_months_data, df])
    
all_months_data.to_csv('all_data.csv', index=False)

In [20]:
all_months_data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [21]:
all_data = pd.read_csv('all_data.csv')
all_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,4/19/2019 8:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,4/7/2019 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,4/12/2019 14:38,"669 Spruce St, Los Angeles, CA 90001"