In [1]:
emp_details={'Employee':{'Dave':{'ID':'001','Salary':2000,'Designation':'Team Lead'},
                        'Ada':{'ID':'002','Salary':1000, 'Designation':'Associate'}}}
emp_details

{'Employee': {'Dave': {'ID': '001',
   'Salary': 2000,
   'Designation': 'Team Lead'},
  'Ada': {'ID': '002', 'Salary': 1000, 'Designation': 'Associate'}}}

###  Converting Dictionary to DataFrame

In [2]:
import pandas as pd
df=pd.DataFrame(emp_details['Employee'])
df

                  Dave        Ada
ID                 001        002
Salary            2000       1000
Designation  Team Lead  Associate