<h1 align='center'> 
    <font color='magenta'> Sets </font>
</h1>
<br/>

**Sets:** ```unordered```, ```mutable```, ```no duplicate```

In [2]:
set1 = {'apple', 23, 23}
print(set1)

{'apple', 23}

In [3]:
set2 = set([1,2,3])
print(set2)

{1, 2, 3}

In [4]:
set3 = set('Apple')
print(set3)

{'e', 'A', 'l', 'p'}

#### Empty set

In [5]:
# be careful with empty set
empty_set = {} # not a set
print(type(empty_set))

<class 'dict'>

In [7]:
empty_set = set()
print(empty_set)

set()

#### Add elements to set, since it is mutable

In [10]:
empty_set.add('hello')
empty_set.add('world')
empty_set.add('!')
empty_set.add(21)

print(empty_set)

{'hello', 21, '!', 'world'}

#### Remove the elements

In [11]:
empty_set.remove(21)
print(empty_set)

{'hello', '!', 'world'}

#### Remove non-existent element

In [14]:
try:
    empty_set.remove('mango')
except:
    print("ERROR! No such element exits. Use discard() method")
    
# use discard method
empty_set.discard('mango') # give no error
print(empty_set)

ERROR! No such element exits. Use discard() method
{'hello', '!', 'world'}

#### Clear all elements

In [15]:
empty_set.clear()
print(empty_set)

set()

### Operations on set

**Union, Intersection**

In [16]:
myset1 = {1,2,3,'apple'}
myset2 = set([1,0,'apple'])

# union
u = myset1.union(myset2)
print(u)

# intersection
intr = myset1.intersection(myset2)
print(intr)

{0, 1, 2, 3, 'apple'}
{1, 'apple'}

**difference**

In [18]:
print(myset1)
print(myset2)
print()

# difference
diff = myset1.difference(myset2)
print(diff)

sym_diff = myset1.symmetric_difference(myset2)
print(sym_diff)

{1, 2, 3, 'apple'}
{0, 1, 'apple'}

{2, 3}
{0, 3, 2}

#### Update methods for ```inplace=True```

In [19]:
# union update
myset1.update(myset2)
print(myset1)

# intersection update
myset1.intersection_update(myset2)
print(myset1)

{0, 1, 2, 3, 'apple'}
{0, 1, 'apple'}

#### Subset

In [20]:
set1 = {0,1,2}
set2 = {0,2}
print(set1.issubset(set2))
print(set2.issubset(set1))

False
True

In [22]:
print(set1.issuperset(set2))

True

## FrozenSet

Set with immutable property

In [23]:
frzn_set = frozenset(['apple', 12,12,43])
print(frzn_set)

frozenset({43, 'apple', 12})

<h1 align='center'>
    <font color='magenta'>END</font>
</h1>