## Data Types

### Numbers, String, List, Dictionary, Tuple, Set

#### Number Data Types : - integer, float, complex, boolean

In [4]:
x=10
type(x)

int

In [7]:
x=True
a=10>9
type(a)

bool

In [8]:
x='hello'
y= 'world'
z=input()

print("here is an example", x, y, z)

!
here is an example hello world !

In [9]:
len(x)

5

In [11]:
x[0]

'h'

#### List

In [12]:
mylist = [10,20,'apples']
mylist

[10, 20, 'apples']

In [13]:
mylist[1:2]

[20]

In [15]:
# update the value at index 2
mylist[2]=34
mylist

[10, 20, 34]

In [16]:
# add element at the end
mylist.append('apples')
mylist

[10, 20, 34, 'apples']

In [17]:
# add element at specfic index using insert method
mylist.insert(2,'orange')
mylist

[10, 20, 'orange', 34, 'apples']

In [18]:
# reverse the list
mylist.reverse()
mylist

['apples', 34, 'orange', 20, 10]

#### Dictionary

Unordered, can be changed. No duplicates entries are present.

In [21]:
animals = {
    'reptiles':'snake',
    'trees':'guavava',
    'transport':'airplane',
    1:2,
    2:'orange'
}
print(animals)

{'reptiles': 'snake', 'trees': 'guavava', 'transport': 'airplane', 1: 2, 2: 'orange'}

In [23]:
animals["trees"]

'guavava'

In [24]:
# use get method to access the value
animals.get('reptiles')

'snake'

In [25]:
# update the value like list
animals[1]=4
animals

{'reptiles': 'snake',
 'trees': 'guavava',
 'transport': 'airplane',
 1: 4,
 2: 'orange'}

In [26]:
# add another key-value pair
animals['key']= 'value'
animals

{'reptiles': 'snake',
 'trees': 'guavava',
 'transport': 'airplane',
 1: 4,
 2: 'orange',
 'key': 'value'}

#### Tuple

Ordered, cannot be changed. Duplicate entries are present.

In [28]:
animals=('lion', 3, 3, 'tiger', 'monkey')
animals

('lion', 3, 3, 'tiger', 'monkey')

In [29]:
animals[3]

'tiger'

In [30]:
# count any elements since duplicates are allowed
animals.count('tiger')

1

#### Set

Unordered. No duplicates are present.

In [31]:
animals={'tiger', 20, 20,'wolf'}
animals

{20, 'tiger', 'wolf'}

In [32]:
# set has no ordering / indexing
animals[2]

TypeError: 'set' object is not subscriptable

In [33]:
range(10)

range(0, 10)

In [34]:
list(range(11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]